node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.gitignore
README.md
.vscode
.idea
coverage
.nyc_output
logs
*.log
.DS_Store
Thumbs.db
Dockerfile
.dockerignore
docker-compose.yml
